<html>
<head>
    <title>Hello World</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="A word builder app with the name of a villain." name="description">
    <meta content="#cc005f" name="theme-color">
    <meta content="Ajai Danial" name="author">
    <!--css files-->
    {% load static %}
    <link href="{% static 'vendor/SemanticUI/semantic.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<!--Add code here-->

<!--js files-->
<script src="{% static 'vendor/jquery.min.js' %}"></script>
<script src="{% static 'vendor/SemanticUI/semantic.js' %}"></script>
<script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
</body>
</html>