<html>
<head>
    <title>Hello World</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="A word builder app with the name of a villain." name="description">
    <meta content="#cc005f" name="theme-color">
    <meta content="Ajai Danial" name="author">
    <!--css files-->
    {% load static %}
    <link href="{% static 'vendor/SemanticUI/semantic.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<!--Add code here-->
<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="ui placeholder segment raised">
                        <div class="ui two column very relaxed stackable grid">
                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label>Username</label>
                                        <div class="ui left icon input">
                                            <input placeholder="Username" type="text">
                                            <i class="user icon"></i>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Password</label>
                                        <div class="ui left icon input">
                                            <input type="password">
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>
                                    <div class="ui blue submit button">Login</div>
                                </div>
                            </div>
                            <div class="middle aligned column">
                                <div class="ui medium button">
                                    <i class="signup icon"></i>
                                    Sign Up
                                </div>
                            </div>
                        </div>
                        <div class="ui divider vertical">
                            Or
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--js files-->
<script src="{% static 'vendor/jquery.min.js' %}"></script>
<script src="{% static 'vendor/SemanticUI/semantic.js' %}"></script>
<script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
</body>
</html>