<html>

<head>
    <title>Thanos - Wb</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="A word builder app with the name of a villain." name="description">
    <meta content="#cc005f" name="theme-color">
    <meta content="Ajai Danial" name="author">
    <!--css files-->
    {% load static %}
    <link href="{% static 'vendor/SemanticUI/semantic.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="{% static 'vendor/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <form id="login" class="card shadow center needs-validation" method="POST" action="/chat" novalidate>
            <div class="form-group">
                <label class="sr-only">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input id="signin_un" type="text" class="form-control" placeholder="Username" required minlength="5"
                        name="username">
                    <div class="invalid-feedback">
                        Type your registered username.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-eye"></i></div>
                    </div>
                    <input id="signin_pass" type="password" class="form-control" placeholder="Password" required minlength="5"
                        name="password">
                    <div class="invalid-feedback">
                        Type your registered password.
                    </div>
                </div>
            </div>
            <input class="d-none" name="login">
            <button type="submit" class="btn btn-primary submit_btn">
                <span class="d-none spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                Sign in
            </button>
            <div class="ui horizontal divider mt-4 mb-4">OR</div>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#signupform">Sign
                up</button>
        </form>
    </div>

    <!-- TEST <start -->
    <div class="modal fade" id="signupform" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="signup" class="mb-0 needs-validation" method="POST" action="/chat" novalidate>
                        <div class="form-group">
                            <label class="sr-only">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                                <input id="signup_un" type="text" class="form-control" placeholder="Username" required
                                    minlength="5" name="username">
                                <div class="invalid-feedback">
                                    Type your username.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-eye"></i></div>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" required
                                    name="password" minlength="5">
                                <div class="invalid-feedback">
                                    Type your password.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label class="sr-only">First name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-file-signature"></i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="First name" required
                                            name="fname">
                                        <div class="invalid-feedback">
                                            Type your first name.
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label class="sr-only">Last name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-file-signature"></i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Last name" required
                                            name="lname">
                                        <div class="invalid-feedback">
                                            Type your last name.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Email id</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-envelope-open"></i></div>
                                </div>
                                <input type="email" class="form-control" placeholder="Email id" required name="email">
                                <div class="invalid-feedback">
                                    Type your email id.
                                </div>
                            </div>
                        </div>
                        <input class="d-none" name="signup">
                        <button type="submit" class="btn btn-primary w-100 submit_btn">
                            <span class="d-none spinner-border spinner-border-sm mr-2" role="status"
                                aria-hidden="true"></span>
                            Sign up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- TEST <stop> -->

    <!--js files-->
    <script src="{% static 'vendor/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/SemanticUI/semantic.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>